<div class="layoutMain accreditaion_toolBar">


  <!-- @if(isLoggedIn){ -->

  <p-toolbar>
    <div class="p-toolbar-group-start">
      <img src="../assets/edunxtnobg.png" alt="" class="brandLogo">

      @if(nirfMenu){
      <span class="typeModule"> | NIRF</span>
      }
      @if(naacMenu){
      <span class="typeModule"> | NAAC</span>
      }

      @if(nbaMenu){
      <span class="typeModule"> | NBA</span>
      }

      <!-- <p-button label="Toggle" icon="pi pi-align-right" (onClick)="menu.toggle($event)"></p-button> -->

    </div>
    <!-- <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Search" />
      </span>
    </div> -->
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-power-off" [rounded]="true" [text]="true" severity="danger" click="logOut()" />

    </div>
  </p-toolbar>
  <!-- } -->


  <div class="layout" fxLayout="row">
    <aside class="sidebar" fxflex="10">
      <!-- Dynamic menu based on active route -->
      @if(nirfMenu){
      <div class="accreditationSideMenu">
        <p-tieredMenu [model]="nirfMenuItems"></p-tieredMenu>
      </div>
      }

      @if(naacMenu){
      <div class="accreditationSideMenu">
        <p-tieredMenu [model]="naacMenuItems"></p-tieredMenu>
      </div>
      }

      @if(nbaMenu){
      <div class="accreditationSideMenu">
        <p-tieredMenu [model]="nbaMenuItems"></p-tieredMenu>
      </div>
      }
    </aside>
    <main class="contentOutLet" fxflex="90">
      <router-outlet></router-outlet>
    </main>
  </div>